In [1]:
import pandas as pd

In [2]:
#df = pd.read_csv('../datasets/2010-2012.tsv', sep='\t')
df = pd.read_csv('../datasets/2010_2012_Cleaned.tsv', sep='\t')

In [3]:
#Data 확인
df

,년도,가수,제목,남녀,장르,최고순위,작사가,작곡가,소속사,가사
0,20100121,2AM,죽어도 못 보내,Male,발라드,1,방시혁,방시혁,JYP Entertainment,어려도 아픈 건 똑같아 세상을 잘 모른다고 아픈걸 모르진 않아 괜찮아 질 거라고 왜...
1,20100114,씨엔블루,외톨이야,Male,록/메탈,1,"한성호, 에이맨","김도훈, 이상호",FNC엔터테인먼트,외톨이야 외톨이야 외톨이야 외톨이야 봐봐 나를 봐봐 똑바로 내 두 눈을 봐 거봐 이...
2,20100128,소녀시대,Oh!,Female,댄스,1,"김정배, 김영후",KENZIE,SM Entertainment,전에 알던 내가 아냐 Brand New Sound 새로워진 나와 함께 One Mor...
3,20100104,현아,Change,Female,댄스,5,"신사동호랭이, 전혜원","신사동호랭이, 전혜원",큐브엔터테인먼트,"yeah, this, I'm bring it bring it let let's go..."
4,20100121,2AM,웃어 줄 수 없어서 미안하다,Male,발라드,6,슈퍼창따이,슈퍼창따이,JYP Entertainment,헤. 어. 지. 자 오늘 무슨 말이라도 내게 하지 말아줘 장난스런 너의 말도 받아줄...
...,...,...,...,...,...,...,...,...,...,...
493,20120604,버즈,가슴이 운다,Male,록/메탈,84,윤우현,윤우현,에이원피플,내 우쭐대는 자신감에 울었어 잘난 자존심에 또 울었어 쉽게 다가온 널 가볍게 생각했...
494,20120703,윤하,우린 달라졌을까 (With John Park),Mixed,발라드,86,"양재선, Score (13)",김병석,C9 ENTERTAINMENT,다 잊었다고 난 생각 했나봐 내 마음조차 날 속였었나봐 마주보던 날들 함께 웃었던 ...
495,20120713,김재중,살아도 꿈인 것처럼,Male,"발라드, 국내드라마",91,김재중,임동균,씨제스엔터테인먼트,내가 기억해 너무 사랑했던 나의 여자라는 걸 기억해 너만큼은 시간이 지나도 너의 숨...
496,20120621,버스커 버스커,그댈 마주하는건 힘들어 (그마힘),Male,록/메탈,92,장범준,장범준,CJ E&M,그댈 마주하는거는 너무 힘들어 그때 그 기억이 나를 괴롭게 하네 이런 말을 해도 될...
497,20120531,예성,꽃보다 그녀,Male,"댄스, 국내드라마",97,김현우,"김현구, 공두형",SM Entertainment,그대를 사랑해 my love 모든 걸 줄게요 oh my love 저 하늘의 별보다 ...

In [4]:
#가수 중복 확인
test = df['가수'].unique()
test.sort()
test

array(['10CM', '2AM', '2NE1', '2PM', 'B.A.P', 'B1A4', 'DJ DOC', 'EXID',
       'EXO-K', 'F-ve Dolls', 'FT아일랜드', 'G-DRAGON', 'GD&TOP',
       'GG (박명수 & G-Dragon)', 'Homme', 'JJ Project', 'NS 윤지', 'SE7EN',
       'SG 워너비', 'SS501', 'T.O.P', 'f(x)', 'of 비스트', '가비엔제이', '가인',
       '가인, 조권', '간미연', '강승윤', '걸스데이', '길미', '김그림', '김범수', '김보경', '김재중',
       '김준수', '김지수', '김태우', '김현중', '나르샤', '나얼', '나인뮤지스', '다비치', '다이나믹 듀오',
       '달샤벳', '대성', '동방신기', '디셈버', '럼블피쉬', '레게 강 같은 평화', '레인보우', '리쌍',
       '먼데이 키즈', '미스에스', '미쓰에이', '민경훈', '바닷길 (길 & 바다)', '박명수', '박봄',
       '박유천, 시아준수, 김재중', '박재범', '박재범, 용감한 형제', '백아연', '백지영', '버벌진트',
       '버스커 버스커', '버즈', '보아', '보이프렌드', '브라운 아이드 걸스', '브라운 아이드 소울',
       '브레이브걸스', '블락비', '비스트', '빅마마', '빅뱅', '빅뱅, 트랜스 픽션', '샤이니', '서인국',
       '서인국, 정은지', '서인영', '선예', '성시경', '센치한 하하 (하하 & 10cm)', '소녀시대',
       '소녀시대-태티서', '소연', '손담비', '송지은', '수지', '슈퍼주니어', '슈프림팀', '슈프림팀, 영준',
       '스윗 콧소로우 (정준하 & 스윗소로우)', '스피카', '시아준수', '시크릿', '신용재', '신화', '싸이',
       '써니힐', '씨스타', '씨스타19', '씨야, 다비치, 티아라', '씨엔블루', '아이비', '아이유',
       '아이유, 유승호', '아이유, 피에스타', '애프터스쿨', '양요섭', '양요섭, 정은지', '어반자카파',
       '에이핑크', '에일리', '엠블랙', '예성', '오렌지 캬라멜', '울랄라세션', '원더걸스', '유키스',
       '윤하', '은지원', '이보람, 효민, 지연', '이승기', '이승철', '이종현', '이창민, 진운', '이하이',
       '이해리', '이현', '이효리', '인피니트', '임정희', '장우혁', '장재인', '정아', '정엽', '정용화',
       '정은지, 서인국', '제국의아이들', '제시카', '제아, 미료', '조권', '종현', '주니엘', '쥬얼리',
       '지나', '지아', '지연', '처진 달팽이 (유재석 & 이적)', '철싸 (노홍철 & 싸이 (PSY))', '카라',
       '케이윌', '코요태', '크리스탈', '태양', '태연', '트랙스', '트러블메이커', '티아라', '티파니',
       '틴탑', '파리돼지앵 (정형돈 & 정재형)', '포맨', '포미닛', '프라이머리', '허각', '허각, 지아',
       '허영생', '헬로비너스', '현아', '현아, 낯선', '환희', '효린', '휘성'], dtype=object)

In [5]:
# 가수와 소속사 비교
test1 = df.loc[:, ['가수', '소속사']]
test1

          가수                소속사
0        2AM  JYP Entertainment
1       씨엔블루          FNC엔터테인먼트
2       소녀시대   SM Entertainment
3         현아           큐브엔터테인먼트
4        2AM  JYP Entertainment
..       ...                ...
493       버즈              에이원피플
494       윤하   C9 ENTERTAINMENT
495      김재중          씨제스엔터테인먼트
496  버스커 버스커             CJ E&M
497       예성   SM Entertainment

[498 rows x 2 columns]

In [6]:
test1 = test1.drop_duplicates()
test1

             가수                소속사
0           2AM  JYP Entertainment
1          씨엔블루          FNC엔터테인먼트
2          소녀시대   SM Entertainment
3            현아           큐브엔터테인먼트
5            포맨    YWHO Enterprise
..          ...                ...
486  JJ Project          JYP엔터테인먼트
489         이해리          MBK엔터테인먼트
493          버즈              에이원피플
494          윤하   C9 ENTERTAINMENT
495         김재중          씨제스엔터테인먼트

[201 rows x 2 columns]

In [7]:
test2 = test1.loc[:, ['가수']].duplicated() #여기서 가수의 이름이 중복된다면 두가지 소속사가 존재하는것이므로 row 번호룰 저장해둔다
cnt = 0
for idx, value in test2.items():
    if(value == True):
        print(idx +2)

34
37
42
81
118
134
158
197
228
246
257
272
277
295
308
323
329
334
343
350
368
369
380
418
435
474